/* styles.css */
*{
  box-sizing: border-box;
}

body {
    background-color: rgb(57, 57, 57);
    height: 100vh;
  }

h1 {
  color: white;
}

#interaction, #library, #content {
  /* outline: 1px solid red; */
}

.card {
  outline: 2px solid pink;
  display: flex;
  justify-content: space-around;
  background-color: grey;
}