/* styles.css */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(57, 57, 57);
}

#headers {
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

h1 {
  color: white;
}

#open-dialog{
  font-size: 2rem;
}

#library { 
  display: grid;
  grid-template: repeat(3, auto);
  width: 100%;
}

.card {
  outline: 2px solid pink;
  display: flex;
  justify-content: space-around;
  background-color: grey;
}
